body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcoral;
    color: navy;
     margin: 20px
}
header, footer {
    background-color:  navy;    
    padding: 18px;
    text-align: center;
}
#main-title {
    color: skyblue;
    font-size: 2em;
    margin-bottom: 10px;
}
.intro {
    font-style: italic;
    color: gray;
}
p {
    font-size: 16px;
    color: darkblue;
}
a { color: gray;
    font-weight: bold;
}
a:hover { 
    color: blueviolet;
    text-decoration: underline;
}    